<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>APBX - LOGIN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body style="background: gainsboro">
        <p:messages id="messages" showDetail="true" closable="true" autoUpdate="true"/>
        
        <p:dialog widgetVar="dlg2" modal="true" height="400" width="250" visible="true" closable="false" style="background: gainsboro" >
           
            
            
            <h:form style="padding-left: 30px"> 
                <img src="image/logo.png" width="150" height="150"/>
                <br/>
                <h:outputText value="Login" style="align-content: flex-start" />
                <br/>
                <h:inputText id="user" value="#{beanUser.user.user}" style="width:150px"/>
                <br/>
                <br/>
                <h:outputText value="Senha" style="width:150px"/>
                <br/>
                <p:password id="password" value="#{beanUser.user.password}" style="width:150px"/>
                <br/>
                <br/>
                <p:commandButton value="Logar" type="submit" action="#{beanUser.validarUser()}"/>
     
        </h:form> 
        </p:dialog>   

    </h:body>
</html>
