<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <title>APBX</title>
        
    </h:head>

    <h:body style="background: gainsboro">

        <div id="top">
            <ui:insert name="top">
                <img src="image/logo.png" width="100" height="100"/>
                <h:form>  
    <p:growl id="messages"/>
   
    <p:menubar >
        
        <p:submenu label="Administração">
                <p:menuitem value="Adminstradores" url="users.xhtml" />
            <p:separator />
            <p:menuitem value="Quit" url="index.xhtml" />
        </p:submenu>
 
        <p:submenu label="PBX">
                <p:menuitem value="Ramais" url="subscriber.xhtml" />
                <p:menuitem value="Rotas" url="routes.xhtml" />
        </p:submenu>
 
        <p:submenu label="Relatórios">
                <p:menuitem value="Chamadas" url="calls.xhtml" />
        </p:submenu>
 
       
 
        <f:facet name="options">
            
            <p:button outcome="index.xhtml" value="logout" style="margin-right:10px;"/>
            
        </f:facet>
    </p:menubar>
</h:form>

  
            </ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content"></ui:insert>
        </div>

        <div id="bottom">
            <ui:insert name="bottom"></ui:insert>
        </div>

    </h:body>

    
<style type="text/css">
    .menubar {
        background-color:#D20005;
        
        
            
    }
</style>    
</html>
